version: '3.7'

services:
  mysql:
    build: ./mysql
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 'p@ssword'

  phpmyadmin:
    depends_on:
      - mysql
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mysql
    restart: always
    ports:
      - "8080:80"

  php-apache:
    build: ./php
    volumes:
      - ./htdocs:/var/www/html
      - ./.ssh/test_rsa:/root/.ssh/test_rsa
    restart: always
    ports:
      - "80:80"
    depends_on:
      - mysql

networks:
  app-network:
    driver: bridge

volumes:
    db_data: {}